.home{
  md-grid-tile-footer figcaption {
    width: 100%; 
  }

  h3 {
    margin: 0;
    width: 100%;
    font-weight: 700;
    text-align: center; 
  }

  md-grid-tile {
    cursor:pointer;
    md-grid-tile-footer {
      height: 36px; 
    }
  }

.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.darkBlue {
  background: #80d8ff; }
.deepBlue {
  background: #448aff; }
.purple {
  background: #b388ff; }
.lightPurple {
  background: #8c9eff; }
.red {
  background: #ff8a80; }
.pink {
  background: #ff80ab; }
}