div.m-app-loading {
  z-index: 9999999;
  display: none;
  div.animated-container {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }

  div.messaging {
    color: #FFFFFF;
    text-align: center;
  }
}