body {
  md-content.page-container {
    background-color: #f1f1f1;

    md-toolbar{
      md-icon{
        margin-right: 10px;
      }
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}