<div layout="row" layout-align="center center">
  <md-content flex flex-gt-md="90" class="md-primary md-whiteframe-z2 home">
    <md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px">
      
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-rowspan-sm="1" class="red" ng-click="app.navigateTo('cofrades', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">face</md-icon>
        <md-grid-tile-footer><h3>Cofrades</h3></md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-rowspan-sm="1" class="green" ng-click="app.navigateTo('papeletasSitios', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">receipt</md-icon>
        <md-grid-tile-footer><h3>Papeletas de Sitio</h3></md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-rowspan-sm="1" class="blue" ng-click="app.navigateTo('costaleros', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">account_circle</md-icon>
        <md-grid-tile-footer><h3>Costaleros</h3></md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-rowspan-sm="1" class="gray " ng-click="app.navigateTo('aspirantes', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">people</md-icon>
        <md-grid-tile-footer><h3>Aspirantes</h3></md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-rowspan-sm="1" class="yellow" ng-click="app.navigateTo('sectores', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">explore</md-icon>
        <md-grid-tile-footer><h3>Sectores</h3></md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-rowspan-sm="1" class="darkBlue" ng-click="app.navigateTo('gastosBancarios', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">account_balance</md-icon>
        <md-grid-tile-footer><h3>Gastos Bancarios</h3></md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-rowspan-sm="1" class="purple" ng-click="app.navigateTo('autoridades', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">security</md-icon>
        <md-grid-tile-footer><h3>Autoridades</h3></md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-rowspan-sm="1" class="deepBlue" ng-click="app.navigateTo('directivos', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">verified_user</md-icon>
        <md-grid-tile-footer><h3>Directivos</h3></md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" class="lightPurple" ng-click="app.navigateTo('numerosLoteria', 'menuIzquierdo', $event)">
        <md-icon md-font-library="material-icons">local_atm</md-icon>
        <md-grid-tile-footer><h3>Números de Lotería</h3></md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>
  </md-content>
</div>