<div layout="row" layout-align="center center">
  <div flex flex-gt-md="80" class="md-primary md-whiteframe-z2 listaCostaleros">
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Detalles Costalero" ui-sref="costaleros">
          <md-icon md-font-library="material-icons">arrow_back</md-icon>
        </md-button>
        <h4>
          <span>
            Posición: {{vm.costalero.sitio}}
          </span>
        </h4>
        <span flex></span>
        <div hide-sm layout="row">
          <md-button class="md-icon-button" aria-label="Editar Costalero" ng-click="vm.modifyCostalero(vm.costalero.id, $event)">
            <md-icon md-font-library="material-icons">mode_edit</md-icon>
          </md-button>
          <remove-Costalero costalero="vm.costalero.id" aria-label="Eliminar Costalero"></remove-Costalero>
        </div>
        
        <div layout="column" layout-align="center end">
          <md-menu hide-gt-sm width="1">
            <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <div>
                  <md-button class="md-icon-button" aria-label="Editar Costalero" ng-click="vm.modifyCostalero(vm.costalero.id, $event)">
                    <md-icon md-font-library="material-icons">mode_edit</md-icon>
                  </md-button>
                </div>
              </md-menu-item>
              <md-menu-item>
                <remove-Costalero costalero="vm.costalero.id" aria-label="Eliminar Costalero" ></remove-Costalero>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>

    <md-content class="md-padding">
      <div layout="row" id="toastBounds"></div>
      <h4><md-icon md-font-library="material-icons">face</md-icon> Costalero</h4>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Costalero</label>
          <input readonly name="costalero" value="{{vm.costalero.cofrade.datosPersonales.nombre}} {{vm.costalero.cofrade.datosPersonales.apellido1}} {{vm.costalero.cofrade.datosPersonales.apellido2}}">
        </md-input-container>
      </div>

      <div layout layout-sm="column">
        <div flex="50" layout="row" layout-align="start start">
          <md-input-container class="md-icon-float" flex>
            <label>Fecha</label>
            <md-icon md-font-library="material-icons">today</md-icon>
            <input readonly name="fecha" ng-model="vm.costalero.fecha" pattern="(\d{1,2}/\d{1,2}/\d{2,4})">
          </md-input-container>
        </div>
        <div flex="50" layout="row" layout-align="start start">
          <md-input-container class="md-icon-float" flex>
            <label>Talla (m.)</label>
            <md-icon md-font-library="material-icons">accessibility</md-icon>
            <input readonly name="talla" ng-model="vm.costalero.talla" type="number" step="0.01">
          </md-input-container>
        </div>
      </div>
    </md-content>
  </div>
</div>