<md-content class="md-whiteframe-z2">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <md-icon md-font-library="material-icons">verified_user</md-icon>
      <h2>
        <span>Directivos</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <div class="md-padding">
    <md-input-container class="md-icon-float">
      <label>Buscar</label>
      <md-icon md-font-library="material-icons">search</md-icon>
      <input ng-model="vm.buscar" type="text">
    </md-input-container>
  </div>
  
  <md-content class="lista-directivos" flex>
    <div layout="row" layout-align="space-around" ng-if="!vm.completed">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list ng-cloak>
      <md-list-item class="md-2-line" ng-repeat="directivo in vm.directivosShort | filter: vm.buscar | orderBy : 'numeroOrden'" ng-click="vm.goToDirectivo(directivo.id, $event)" load-repeat>
        <h3 flex="10" flex-sm="20" class="numeroOrden">{{directivo.numeroOrden}}</h3>
        <div layout="row" class="md-list-item-text">
          <div flex="70" flex-sm flex-offset="5" flex-offset-sm="0">
            <h4>{{directivo.nombre}}</h4>
            <p class="posicion">Posición: <em>{{directivo.posicion}}</em></p>
          </div>
          
          <div flex="25" hide-sm layout="row" layout-align="space-around center">
            <md-button class="md-icon-button" aria-label="Editar Directivo" ng-click="vm.modifyDirectivo(directivo.id, $event)">
              <md-icon md-font-library="material-icons">mode_edit</md-icon>
            </md-button>
            <remove-Directivo directivo="directivo.id" ng-if="directivo.numeroOrden"></remove-Directivo>
          </div>

          <div layout="row" layout-align="center end" hide-gt-sm flex="10" flex-offset="5">
            <md-menu>
              <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-font-library="material-icons">menu</md-icon>
              </md-button>
              <md-menu-content width="1">
                <md-menu-item>
                  <div>
                    <md-button class="md-icon-button" aria-label="Editar Directivo" ng-click="vm.modifyDirectivo(directivo.id, $event)">
                      <md-icon md-font-library="material-icons">mode_edit</md-icon>
                    </md-button>
                  </div>
                </md-menu-item>
                <md-menu-item ng-if="directivo.numeroOrden">
                  <div>
                    <remove-Directivo directivo="directivo.id"></remove-Directivo>
                  </div>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

    
</md-content>