<div layout="row" layout-align="center center">
  <div flex flex-gt-md="80" class="md-primary md-whiteframe-z2 listaCofrades">
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Detalles Cofrade" ui-sref="cofrades">
          <md-icon md-font-library="material-icons">arrow_back</md-icon>
        </md-button>
        <h4>
          <span>
            {{vm.cofrade.datosPersonales.nombre}} {{vm.cofrade.datosPersonales.apellido1}} {{vm.cofrade.datosPersonales.apellido2}}
          </span>
        </h4>
        <span flex></span>
        <div hide-sm layout="row">
          <md-button class="md-icon-button" aria-label="Editar Cofrade" ng-click="vm.modifyCofrade(vm.cofrade.id, $event)">
            <md-icon md-font-library="material-icons">mode_edit</md-icon>
          </md-button>
          <remove-Cofrade cofrade="vm.cofrade.id" aria-label="Eliminar Cofrade" ng-if="(vm.cofrade.numeroOrden && vm.cofrade.numeroCofrade)"></remove-Cofrade>
          <restore-Cofrade cofrade="vm.cofrade.id" aria-label="Restaurar Cofrade" ng-if="(vm.cofrade.numeroOrden && !vm.cofrade.numeroCofrade)"></restore-Cofrade>
        </div>
        
        <div layout="column" layout-align="center end">
          <md-menu hide-gt-sm width="1">
            <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <div>
                  <md-button class="md-icon-button" aria-label="Editar Cofrade" ng-click="vm.modifyCofrade(vm.cofrade.id, $event)">
                    <md-icon md-font-library="material-icons">mode_edit</md-icon>
                  </md-button>
                </div>
              </md-menu-item>
              <md-menu-item ng-if="(vm.cofrade.numeroOrden && vm.cofrade.numeroCofrade)">
                <remove-Cofrade cofrade="vm.cofrade.id" aria-label="Eliminar Cofrade" ></remove-Cofrade>
              </md-menu-item>
              <md-menu-item ng-if="(vm.cofrade.numeroOrden && !vm.cofrade.numeroCofrade)">
                <restore-Cofrade cofrade="vm.cofrade.id" aria-label="Restaurar Cofrade" ></restore-Cofrade>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>


    <md-content class="md-padding">
      
      <div layout layout-padding class="md-padding" layout-align="space-around center">
        <div class="md-2-line cofrade-detalle" flex="40">
          <div class="md-item-text md-whiteframe-z1">
            <h3>Número de<br>orden</h3>
            <p>{{vm.cofrade.numeroOrden}}</p>
          </div>
        </div>
        <div class="md-2-line cofrade-detalle" flex="40">
          <div class="md-item-text md-whiteframe-z1">
            <h3>Número de<br>cofrade</h3>
            <p>{{vm.cofrade.numeroCofrade}}</p>
          </div>
        </div>
      </div>
      
      

      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
      <md-tab>
        <md-tab-label>
          <md-icon md-font-library="material-icons">person</md-icon>
        </md-tab-label>
        <md-content class="md-padding">
          
          <div layout layout-sm="column" ng-if="vm.cofrade.baja" class="baja">
            <md-input-container flex="50">
              <label>Fecha de baja</label>
              <input ng-model="vm.cofrade.baja.fechaBaja" type="text" readonly>
            </md-input-container>
            <md-input-container flex="50">
              <label>Motivo de baja</label>
              <input ng-model="vm.cofrade.baja.motivo" type="text" readonly>
            </md-input-container>
          </div>

          <h1>Datos personales</h1>
          <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="75">
              <label>Nombre</label>
              <md-icon md-font-library="material-icons">face</md-icon>
              <input ng-model="vm.cofrade.datosPersonales.nombre" type="text" readonly>
            </md-input-container>
          </div>
          
          <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>Primer apellido</label>
              <md-icon md-font-library="material-icons"></md-icon>
              <input ng-model="vm.cofrade.datosPersonales.apellido1" type="text" readonly>
            </md-input-container>
            <md-input-container class="md-icon-float" flex="50">
              <label>Segundo apellido</label>
              <md-icon md-font-library="material-icons"></md-icon>
              <input ng-model="vm.cofrade.datosPersonales.apellido2" type="text" readonly>
            </md-input-container>
          </div>

          <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>DNI</label>
              <md-icon md-font-library="material-icons">credit_card</md-icon>
              <input ng-model="vm.cofrade.datosPersonales.dni" type="text" readonly>
            </md-input-container>
            <md-input-container class="md-icon-float" flex="50">
              <label>Sexo</label>
              <md-icon md-font-library="material-icons"></md-icon>
               <input ng-model="vm.cofrade.datosPersonales.sexo" type="text" readonly>
            </md-input-container>
          </div>

          <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>Teléfono</label>
              <md-icon md-font-library="material-icons">local_phone</md-icon>
              <input ng-model="vm.cofrade.datosPersonales.telefono" type="text" readonly>
            </md-input-container>
            <md-input-container class="md-icon-float" flex="50">
              <label>Email</label>
              <md-icon md-font-library="material-icons">email</md-icon>
               <input ng-model="vm.cofrade.datosPersonales.email" type="text" readonly>
            </md-input-container>
          </div>

           <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>Fecha de nacimiento:</label>
              <md-icon md-font-library="material-icons">event_note</md-icon>
              <input ng-model="vm.cofrade.datosPersonales.fechaNacimiento" type="text" readonly>
            </md-input-container>
            <md-input-container class="md-icon-float" flex="50">
              <label>Fecha de inscripción:</label>
              <md-icon md-font-library="material-icons">event_note</md-icon>
              <input ng-model="vm.cofrade.datosPersonales.fechaInscripcion" type="text" readonly>
            </md-input-container>
          </div>

          <h4><md-icon md-font-library="material-icons">place</md-icon>Dirección</h4>
          <div layout layout-sm="column">
            <div offset="5" flex="40">
              <p>{{vm.cofrade.datosPersonales.direccion.calle}}
              <span ng-if="vm.cofrade.datosPersonales.direccion.numero">, {{vm.cofrade.datosPersonales.direccion.numero}}</span>
              <span ng-if="vm.cofrade.datosPersonales.direccion.planta">, {{vm.cofrade.datosPersonales.direccion.planta}}</span>
              <span ng-if="vm.cofrade.datosPersonales.direccion.piso">, {{vm.cofrade.datosPersonales.direccion.piso}}</span></p>
              <p>{{vm.cofrade.datosPersonales.direccion.municipio}}, {{vm.cofrade.datosPersonales.direccion.cp}}</p>
              <p>{{vm.cofrade.datosPersonales.direccion.provincia}}</p>
            </div>
            <div offset="5" flex="50">
              <ui-gmap-google-map center='vm.maps.coord' zoom='vm.maps.zoom'>
                <ui-gmap-marker coords="vm.maps.marker" idKey="1" ></ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
          </div>

          <div ng-if="vm.cofrade.datosPersonales.nota" layout="column">
            <h4><md-icon md-font-library="material-icons">insert_comment</md-icon> Nota</h4>
            <div flex offset="5">
              <p>{{vm.cofrade.datosPersonales.nota}}</p>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab ng-disabled="!vm.cofrade.datosFinancieros">
        <md-tab-label>
          <md-icon md-font-library="material-icons">account_balance</md-icon>
        </md-tab-label>
        <md-content class="md-padding">
          <h1>Datos bancarios</h1>
          <div layout="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>IBAN</label>
              <md-icon md-font-library="material-icons">attach_money</md-icon>
              <input ng-model="vm.iban" type="text" readonly>
            </md-input-container>
            <md-input-container class="md-icon-float" flex="50">
              <label>CC</label>
              <md-icon md-font-library="material-icons"></md-icon>
               <input ng-model="vm.cc" type="text" readonly>
            </md-input-container>
          </div>
          
          <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>Banco</label>
              <md-icon md-font-library="material-icons">account_balance</md-icon>
              <input ng-model="vm.cofrade.datosFinancieros.banco" type="text" readonly>
            </md-input-container>
            <md-input-container class="md-icon-float" flex="50">
              <label>Driección del banco</label>
              <md-icon md-font-library="material-icons"></md-icon>
               <input ng-model="vm.cofrade.datosFinancieros.direccionBanco" type="text" readonly>
            </md-input-container>
          </div>
          
          <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>Deudas</label>
              <md-icon md-font-library="material-icons">mood_bad</md-icon>
              <input ng-model="vm.cofrade.datosFinancieros.deuda" type="text" readonly>
            </md-input-container>
          </div>
          
          <div layout layout-sm="column">
            <md-checkbox flex="50" aria-label="Domiciliar pagos" ng-model="vm.cofrade.datosFinancieros.domiciliarPagos" class="md-primary" ng-disabled="true">
              Pagos domicilados
            </md-checkbox>
            <md-checkbox flex="40" aria-label="Domiciliar loteria" ng-model="vm.cofrade.datosFinancieros.domiciliarLoteria" class="md-primary" ng-disabled="true">
              Lotería domiciliada
            </md-checkbox>
          </div>

        </md-content>
      </md-tab>
      <md-tab ng-disabled="!vm.cofrade.datosLoteria">
        <md-tab-label>
          <md-icon md-font-library="material-icons">local_play</md-icon>
        </md-tab-label>
        <md-content class="md-padding">
          <h1>Datos Loteria</h1>
          <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>Número de Navidad {{vm.numerosLoteria.navidad1.numero}}</label>
              <md-icon md-font-library="material-icons">local_play</md-icon>
              <input ng-model="vm.cofrade.datosLoteria.numeroNavidad1" type="number" readonly>
            </md-input-container>
            <md-input-container class="md-icon-float" flex="50">
              <label>Número de Navidad {{vm.numerosLoteria.navidad2.numero}}</label>
              <md-icon md-font-library="material-icons"></md-icon>
               <input ng-model="vm.cofrade.datosLoteria.numeroNavidad2" type="number" readonly>
            </md-input-container>
          </div>

          <div layout layout-sm="column">
            <md-input-container class="md-icon-float" flex="50">
              <label>Número del Niño {{vm.numerosLoteria.ninio1.numero}}</label>
              <md-icon md-font-library="material-icons">local_play</md-icon>
              <input ng-model="vm.cofrade.datosLoteria.numeroNinio1" type="number" readonly>
            </md-input-container>
            <md-input-container class="md-icon-float" flex="50">
              <label>Número del Niño {{vm.numerosLoteria.ninio2.numero}}</label>
              <md-icon md-font-library="material-icons"></md-icon>
               <input ng-model="vm.cofrade.datosLoteria.numeroNinio2" type="number" readonly>
            </md-input-container>
          </div>

          <div layout layout-sm="column">
            <md-checkbox flex="50" aria-label="Domiciliar pagos" ng-model="vm.cofrade.datosLoteria.participacionNavidad" class="md-primary" ng-disabled="true">
              Participaciones de Navidad
            </md-checkbox>
            <md-checkbox flex="40" aria-label="Domiciliar loteria" ng-model="vm.cofrade.datosLoteria.participacionNinio" class="md-primary" ng-disabled="true">
              Participaciones del niño
            </md-checkbox>
          </div>
          
        </md-content>
      </md-tab>
    </md-tabs>

    <!-- 
      

      <div ng-if="vm.cofrade.datosFinancieros" layout="column">

        
      </div>
      
      <div ng-if="vm.cofrade.datosLoteria" layout="column">
        <md-divider></md-divider>
        

      </div> -->
        
    </md-content>

  </div>
</div>