<md-content class="md-whiteframe-z2">
  <div class="md-padding">
    <md-input-container class="md-icon-float">
      <label>Buscar</label>
      <md-icon md-font-library="material-icons">search</md-icon>
      <input ng-model="vm.buscar" type="text">
    </md-input-container>
  </div>

  
  <md-content class="lista-sectores" flex>
    <div layout="column" ng-repeat="sector in vm.sectoresShort | filter: vm.buscar | orderBy : 'numeroSector'">
      <md-list ng-cloak flex>
        <md-list-item class="md-2-line" ng-click="vm.showCalles(sector.numeroSector, $event)">
          <h3 flex="10" flex-sm="20" class="sitio">{{sector.numeroSector}}</h3>
          <div layout="row" class="md-list-item-text">
            <div flex="70" flex-sm offset="5" offset-sm="0">
              <h4>{{sector.nombre}}</h4>
              <p class="posicion">N. Orden: <em>{{sector.numeroOrden}}</em></p>
            </div>
            
            <div flex="25" hide-sm layout="row" layout-align="space-around center">
              <md-button class="md-icon-button" aria-label="Editar Sector" ng-click="vm.modifySector(sector.id, $event)">
                <md-icon md-font-library="material-icons">mode_edit</md-icon>
              </md-button>
              <remove-Sector sector="sector.id"></remove-Sector>
            </div>

            <div layout="row" layout-align="center end" hide-gt-sm flex="10" offset="5">
              <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-font-library="material-icons">menu</md-icon>
                </md-button>
                <md-menu-content width="1">
                  <md-menu-item>
                    <div>
                      <md-button class="md-icon-button" aria-label="Editar Sector" ng-click="vm.modifySector(sector.id, $event)">
                        <md-icon md-font-library="material-icons">mode_edit</md-icon>
                      </md-button>
                    </div>
                  </md-menu-item>
                  <md-menu-item>
                    <div>
                      <remove-Sector sector="sector.id"></remove-Sector>
                    </div>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </md-list-item>
      </md-list>

      <md-list ng-cloak flex id="callesSector{{sector.numeroSector}}" class="ocultar">
        <md-list-item class="md-2-line" ng-repeat="calle in sector.calles | filter: vm.buscar | orderBy : 'calle'">
          <p>{{calle}}</p>
        </md-list-item>
      </md-list>
    </div>
  </md-content>

    
</md-content>