<div layout="row" layout-align="center center">
  <div flex flex-gt-md="80" class="md-primary md-whiteframe-z2 listaSectores">
    <form name="sectorForm" novalidate>
      <md-toolbar class="md-primary md-hue-1">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Detalles Sector" ng-click="vm.backState()">
            <md-icon md-font-library="material-icons">arrow_back</md-icon>
          </md-button>
          <h4>
            <span>
              Sector: {{vm.sector.numeroSector}}
            </span>
          </h4>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Guardar Sector" ng-click="vm.guardar(sectorForm.$valid)"  type="submit">
            <md-icon md-font-library="material-icons">save</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-content class="md-padding">
        <div layout="row" id="toastBounds"></div>
        <div ng-show="vm.indexCalle === null && !vm.newCalle">
          <h4><md-icon md-font-library="material-icons">face</md-icon> Responsable de sector</h4>
          <div layout layout-sm="column">
            <md-autocomplete required flex
              md-input-name="cofrade"
              md-no-cache="true"
              md-search-text="vm.searchText"
              md-selected-item="vm.cofradeSelected"
              md-selected-item-change="vm.selectedItemChange(item)"
              md-items="item in vm.querySearch(vm.searchText)"
              md-item-text="item.datosPersonales.nombre + ' ' + item.datosPersonales.apellido1  + ' ' + item.datosPersonales.apellido2" 
              md-min-length="0"
              md-floating-label="Seleccione un cofrade"
              md-menu-class="autocomplete-custom-template">
              <md-item-template>
                <span class="item-title">
                  <md-icon md-font-library="material-icons">assignment_ind</md-icon>
                  <span> {{item.datosPersonales.nombre}} {{item.datosPersonales.apellido1}} {{item.datosPersonales.apellido2}} </span>
                </span>
                <span class="item-metadata">
                  <span class="item-metastat">
                    <strong>N. Orden: {{item.numeroOrden}}</strong> - {{item.datosPersonales.direccion.municipio}}
                  </span>
                </span>
              </md-item-template>
              <md-not-found>
                No hay coincidencias para: "{{vm.searchText}}".
              </md-not-found>

              <div ng-messages="sectorForm.cofrade.$error" ng-if="sectorForm.cofrade.$dirty || sectorForm.cofrade.$touched || sectorForm.$submitted">
                <div ng-message="required">El cofrade es obligatorio (haga click en la lista)</div>
              </div>
            </md-autocomplete>
          </div>
        </div>

        <div layout layout-sm="column" ng-if="vm.indexCalle !== null || vm.newCalle">
          <md-input-container class="md-icon-float" flex>
            <label>Calle</label>
            <md-icon md-font-library="material-icons">place</md-icon>
            <input name="calle" ng-model="vm.sector.calles[vm.indexCalle]" required>
            <div class="validation-messages" ng-messages="sectorForm.calle.$error" ng-if="sectorForm.calle.$dirty || sectorForm.calle.$touched || sectorForm.$submitted">
              <div ng-message="required">El nombre de la calle es obligatorio</div>
            </div>
          </md-input-container>
        </div>

        <div layout layout-sm="column" ng-if="vm.newEncargado || vm.indexCalle !== null">
          <md-input-container class="md-icon-float" flex>
            <label>Número de sector</label>
            <md-icon md-font-library="material-icons">beenhere</md-icon>
            <input type="number" name="numeroSector" ng-model="vm.sector.numeroSector" required>
            <div class="validation-messages" ng-messages="sectorForm.numeroSector.$error" ng-if="sectorForm.numeroSector.$dirty || sectorForm.numeroSector.$touched || sectorForm.$submitted">
              <div ng-message="required">El número de sector es obligatorio</div>
            </div>
          </md-input-container>
        </div>

      </md-content>
    </form>
  </div>
</div>