<div layout="row" layout-align="center center">
  <div flex flex-gt-md="80" class="md-primary md-whiteframe-z2 listaAutoridades">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Detalles Autoridad" ui-sref="autoridades">
          <md-icon md-font-library="material-icons">arrow_back</md-icon>
        </md-button>
        <h4>
          <span>
            {{vm.autoridad.entidad}}
          </span>
        </h4>
        <span flex></span>
        <div hide-sm layout="row">
          <md-button class="md-icon-button" aria-label="Editar Autoridad" ng-click="vm.modifyAutoridad(vm.autoridad.id, $event)">
            <md-icon md-font-library="material-icons">mode_edit</md-icon>
          </md-button>
          <remove-Autoridad autoridad="vm.autoridad.id" aria-label="Eliminar Autoridad"></remove-Autoridad>
        </div>
        
        <div layout="column" layout-align="center end">
          <md-menu hide-gt-sm width="1">
            <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <div>
                  <md-button class="md-icon-button" aria-label="Editar Autoridad" ng-click="vm.modifyAutoridad(vm.autoridad.id, $event)">
                    <md-icon md-font-library="material-icons">mode_edit</md-icon>
                  </md-button>
                </div>
              </md-menu-item>
              <md-menu-item>
                <remove-Autoridad autoridad="vm.autoridad.id" aria-label="Eliminar Autoridad"></remove-Autoridad>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>

    <md-content class="md-padding">
      <div layout="row" id="toastBounds"></div>
      <h1>Datos autoridad</h1>
      <div layout layout-sm="column">
        <md-input-container class="md-icon-float" flex="75">
          <label>Entidad</label>
          <md-icon md-font-library="material-icons">face</md-icon>
          <input ng-model="vm.autoridad.entidad" type="text" readonly>
        </md-input-container>
      </div>
      
      <div layout layout-sm="column">
        <md-input-container class="md-icon-float" flex="75">
          <label>Posición</label>
          <md-icon md-font-library="material-icons"></md-icon>
          <input ng-model="vm.autoridad.posicion" type="text" readonly>
        </md-input-container>
      </div>

      <div layout layout-sm="column">
        <md-input-container class="md-icon-float" flex="50">
          <label>Teléfono</label>
          <md-icon md-font-library="material-icons">local_phone</md-icon>
          <input ng-model="vm.autoridad.telefono" type="text" readonly>
        </md-input-container>
        <md-input-container class="md-icon-float" flex="50">
          <label>Email</label>
          <md-icon md-font-library="material-icons">email</md-icon>
           <input ng-model="vm.autoridad.email" type="text" readonly>
        </md-input-container>
      </div>

      <h4><md-icon md-font-library="material-icons">place</md-icon>Dirección</h4>
      <div layout layout-sm="column">
        <div offset="5" flex="40">
          <p>{{vm.autoridad.direccion.calle}}
          <span ng-if="vm.autoridad.direccion.numero">, {{vm.autoridad.direccion.numero}}</span>
          <span ng-if="vm.autoridad.direccion.planta">, {{vm.autoridad.direccion.planta}}</span>
          <span ng-if="vm.autoridad.direccion.piso">, {{vm.autoridad.direccion.piso}}</span></p>
          <p>{{vm.autoridad.direccion.municipio}}, {{vm.autoridad.direccion.cp}}</p>
          <p>{{vm.autoridad.direccion.provincia}}</p>
        </div>
        <div offset="5" flex="50">
          <ui-gmap-google-map center='vm.maps.coord' zoom='vm.maps.zoom'>
            <ui-gmap-marker coords="vm.maps.marker" idKey="1" ></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>

      <div ng-if="vm.autoridad.nota" layout="column">
        <h4><md-icon md-font-library="material-icons">insert_comment</md-icon> Nota</h4>
        <div flex offset="5">
          <p>{{vm.autoridad.nota}}</p>
        </div>
      </div>

    </md-content>
  </div>
</div>