<div layout="row" layout-align="center center">
  <div flex flex-gt-md="80" class="md-primary md-whiteframe-z2 listaCostaleros">
    <form name="costaleroForm" novalidate>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Detalles Costalero" ng-click="vm.backState()">
            <md-icon md-font-library="material-icons">arrow_back</md-icon>
          </md-button>
          <h4>
            <span>
              Posición: {{vm.costalero.sitio}}
            </span>
          </h4>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Guad Costalero" ng-click="vm.guardar(costaleroForm.$valid)"  type="submit">
            <md-icon md-font-library="material-icons">save</md-icon>
          </md-button>
        </div>
      </md-toolbar>


      <md-content class="md-padding">
        <div layout="row" id="toastBounds"></div>
        <h4><md-icon md-font-library="material-icons">face</md-icon> Costalero</h4>
        <div layout layout-sm="column" layout-align="space-between center">
          <div flex="70">
            <md-autocomplete required
              md-input-name="cofrade"
              md-no-cache="true"
              md-search-text="vm.searchText"
              md-selected-item="vm.cofradeSelected"
              md-selected-item-change="vm.selectedItemChange(item)"
              md-items="item in vm.querySearch(vm.searchText)"
              md-item-text="item.datosPersonales.nombre + ' ' + item.datosPersonales.apellido1  + ' ' + item.datosPersonales.apellido2" 
              md-min-length="0"
              md-floating-label="Seleccione un costalero"
              md-menu-class="autocomplete-custom-template">
              <md-item-template>
                <span class="item-title">
                  <md-icon md-font-library="material-icons">assignment_ind</md-icon>
                  <span> {{item.datosPersonales.nombre}} {{item.datosPersonales.apellido1}} {{item.datosPersonales.apellido2}} </span>
                </span>
                <span class="item-metadata">
                  <span class="item-metastat">
                    <strong>N. Orden: {{item.numeroOrden}}</strong> - {{item.datosPersonales.direccion.municipio}}
                  </span>
                </span>
              </md-item-template>
              <md-not-found>
                No hay coincidencias para: "{{vm.searchText}}".
              </md-not-found>

              <div ng-messages="costaleroForm.cofrade.$error" ng-if="costaleroForm.cofrade.$dirty || costaleroForm.cofrade.$touched || costaleroForm.$submitted">
                <div ng-message="required">El cofrade es obligatorio (haga click en la lista)</div>
              </div>
            </md-autocomplete>
          </div>
        </div>

        <div layout layout-sm="column">
          <div flex="50" layout="row" layout-align="start start">
            <md-input-container class="md-icon-float" flex>
              <label>Fecha</label>
              <md-icon md-font-library="material-icons">today</md-icon>
              <input name="fecha" ng-model="vm.costalero.fecha" pattern="(\d{1,2}/\d{1,2}/\d{2,4})">
              <div class="validation-messages" ng-messages="costaleroForm.fecha.$error" ng-if="costaleroForm.fecha.$dirty || costaleroForm.fecha.$touched || costaleroForm.$submitted">
                <div ng-message="pattern">Introduce una fecha válida XX/XX/XXXX</div>
              </div>
            </md-input-container>
          </div>
          <div flex="50" layout="row" layout-align="start start">
            <md-input-container class="md-icon-float" flex>
              <label>Talla (m.)</label>
              <md-icon md-font-library="material-icons">accessibility</md-icon>
              <input name="talla" ng-model="vm.costalero.talla" type="number" step="0.01">
            </md-input-container>
          </div>
        </div>
      </md-content>
    </form>
  </div>
</div>