<md-content class="md-whiteframe-z2">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <md-icon md-font-library="material-icons">people</md-icon>
      <h2>
        <span>Aspirantes</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <div class="md-padding">
    <md-input-container class="md-icon-float">
      <label>Buscar</label>
      <md-icon md-font-library="material-icons">search</md-icon>
      <input ng-model="vm.buscar" type="text">
    </md-input-container>
  </div>
  

  <md-content class="lista-aspirantes" flex>
    <div layout="row" layout-align="space-around" ng-if="!vm.completed">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list ng-cloak>
      <md-list-item class="md-2-line" ng-repeat="aspirante in vm.aspirantesShort | filter: vm.buscar | orderBy : 'fecha'" ng-click="vm.goToAspirante(aspirante.id, $event)" load-repeat>
        <h3 flex="10" flex-sm="20" class="sitio">{{$index + 1}}</h3>
        <div layout="row" class="md-list-item-text">
          <div flex="70" flex-sm offset="5" offset-sm="0">
            <h4>{{aspirante.nombre}}</h4>
            <p class="fecha">N. Orden: <em>{{aspirante.numeroOrden}}</em> - Fecha: <em>{{aspirante.fecha | formatDates}}</em></p>
          </div>
          
          <div flex="25" hide-sm layout="row" layout-align="space-around center">
            <md-button class="md-icon-button" aria-label="Editar Aspirante" ng-click="vm.modifyAspirante(aspirante.id, $event)">
              <md-icon md-font-library="material-icons">mode_edit</md-icon>
            </md-button>
            <remove-Aspirante aspirante="aspirante.id" ng-if="aspirante.numeroOrden"></remove-Aspirante>
          </div>

          <div layout="row" layout-align="center end" hide-gt-sm flex="10" offset="5">
            <md-menu>
              <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-font-library="material-icons">menu</md-icon>
              </md-button>
              <md-menu-content width="1">
                <md-menu-item>
                  <div>
                    <md-button class="md-icon-button" aria-label="Editar Aspirante" ng-click="vm.modifyAspirante(aspirante.id, $event)">
                      <md-icon md-font-library="material-icons">mode_edit</md-icon>
                    </md-button>
                  </div>
                </md-menu-item>
                <md-menu-item ng-if="aspirante.numeroOrden">
                  <div>
                    <remove-Aspirante aspirante="aspirante.id"></remove-Aspirante>
                  </div>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

    
</md-content>